.Banner-main{
    height: 550px;
    border-bottom: 1px solid gainsboro;
    background-image: linear-gradient(rgb(214, 134, 169), rgb(255,255,255), rgb(255,255,255));
}

.Banner-container{
    width: 900px;
    margin: 0 auto;
    
}